<div class="container">

  <%# breadcrumb  %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/saunas">Saunas</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @sauna.title %></li>
    </ol>
  </nav>

  <h1 class="text-center"><%= @sauna.title %></h1>

  <%# Carrousel code  %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @sauna.photos.each_with_index do |photo, i| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>">
          </li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <%# Code to loop over user saved photos %>
      <% @sauna.photos.each_with_index do |photo, i| %>
        <div class="carousel-item <%= 'active' if i == 0 %>">
          <%= cl_image_tag photo.key, class: 'img-fluid', crop: :fill %>
        </div>
      <% end %>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-8">

        <h3 class="text-center">This Sauna is in <%= @sauna.address %></h3>
        <p class="text-center"><%= @sauna.description %></p>

    </div>
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center"><strong>From £<%= @sauna.price %></strong> / person</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%# <a href="#" class="btn btn-primary ">Book Now</a> %>
          <div class="text-center">
            <%= link_to "Book Now", new_sauna_booking_path(@sauna), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
