<!DOCTYPE html>
<html>
  <head>
    <title>Saunaswap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="wrapper">
      <div id="content"> <!-- the id here is just to remind you -->
        <%= render "components/navbar" %>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div id="footer"> <!-- the id here is just to remind you -->
        <%= render "components/footer" %>
      </div>
    </div>
  </body>
</html>
